@font-face {
  font-family: 'comic';
  src: url('fonts/COMIC.TTF') format('truetype');
}

:root {
  --bg-color: #ccc;
  --panel-color: #fff;
  --text-color: #191919;
  --flash-shadow: 0 0 5px red;
}

:root.dark-theme {
  --bg-color: #5e5e5e;
  --panel-color: #323339;
  --text-color: #eee;
}

:root.black-theme {
  --bg-color: #000;
  --panel-color: #1b1d23;
  --text-color: #edeeef;
  
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'comic', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  background-color: var(--panel-color);
  border-radius: 15px;
  padding: 20px;
  width: 320px;
  /* Add a shadow */
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 

}

.flash {
  display: inline-block !important;
  font-weight: bold;
  animation: color-change 1s infinite !important;
}

@keyframes color-change {
  0%, 100% { color: red; text-shadow: var(--flash-shadow); }
  35% { color: blue; text-shadow: 0 0 5px blue; }
  65% { color: green; text-shadow: 0 0 5px green; }

}

.flash:hover {
  animation-play-state: paused !important;
  cursor: help;
}
