body {
  background-color: crimson;
}

h1 {
  color: white;
  text-align: center;
}

.flash {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: red; }
  35% { color: blue; }
  65% { color: green; }
  100% { color: red; }

}
